---
# Global variables for all hosts
common_packages:
  - curl
  - wget
  - git
  - htop

# AWS CLI settings
awscli_version: latest
awscli_user: "{{ ansible_user }}"
awscli_pip_executable: pip3
create_aws_config: true

# AWS region
aws_region: "${aws_region}"
aws_output_format: json

# Installation settings
install_boto3: true
install_botocore: true
