Host *
    IdentityFile ${ssh_key_rsa}
    User ${ansible_user}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

%{ for hostname, instance in nodes ~}

Host ${hostname}
    HostName ${instance.private_ip}

%{ endfor ~}